In [109]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [110]:
df = pd.read_csv('car_data.csv')

In [111]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10

In [112]:
df.experience

0     5.0
1    13.0
2     4.0
3     NaN
4     3.0
5     8.0
Name: experience, dtype: float64

In [113]:
missing_value = df.experience.median()
df.experience = df.experience.fillna(missing_value)

In [114]:
df.experience

0     5.0
1    13.0
2     4.0
3     5.0
4     3.0
5     8.0
Name: experience, dtype: float64

In [115]:
x = df[['speed','car_age','experience']]
y = df['risk']
# x

In [116]:
# xtrain, xtest , ytrain , ytest = train_test_split(x,y,test_size=0.2,random_state=1)

In [119]:
regressor = LinearRegression()
regressor.fit(x,y)

LinearRegression()

In [120]:
regressor.predict([[160,10,5]])

F:\anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([71.37146872])

In [121]:
regressor.coef_

array([ 0.33059217,  1.61053246, -6.20772074])

In [122]:
regressor.intercept_

33.410000910435905