In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [26]:
df = pd.read_csv('room_price.csv')
df

   area  bed  age   price
0  2600  3.0   20  550000
1  3000  4.0   15  565000
2  3200  NaN   18  610000
3  3600  3.0   30  595000
4  4000  5.0    8  760000

In [27]:
missing_value = df.bed.median()
df.bed =df.bed.fillna(missing_value)
missing_value

3.5

In [28]:
df.bed

0    3.0
1    4.0
2    3.5
3    3.0
4    5.0
Name: bed, dtype: float64

In [29]:
x = df[['area','bed','age']]
y = df['price']

In [30]:
reg = LinearRegression()
reg.fit(x.values,y)

LinearRegression()

In [31]:
reg.predict([[3400,3.3,22]])

array([632232.5380631])

In [32]:
room_area = input("Enter room area ")
# value_room_area = ([[room_area.astype(np.float)]])
bed_no = input("Enter your Bed no ")
# value_bed_no = ([[bed_no.astype(np.float)]])
age_no = input("Enter your age ")
# value_age_no = ([[age_no.astype(np.float)]])
print("Room price ",reg.predict([[room_area,bed_no,age_no]]))
# print("Room price ",reg.predict([[value_room_area,value_bed_no,value_age_no]]))

Enter room area 3400
Enter your Bed no 3.3
Enter your age 21
Room price  [646500.31392246]

F:\anaconda\lib\site-packages\sklearn\base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)